DJANGO_SETTINGS_MODULE=src.settings
SECRET_KEY=super-secret-key-here
DEBUG=True

DATABASE_URL=postgresql://postgres:123456@localhost:5432/mydb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456

REDIS_URL=redis://redis:6379/0
