{% extends 'components/base.html' %}

{% load static %}

{% load project_tags %}
{% load goal_tags %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header pb-0">
          <div class="d-flex align-items-center">
            <p class="mb-0">{{ goal.name }}</p>
            <!--<button class="btn btn-primary btn-sm ms-auto">Settings</button>-->
          </div>
        </div>
        <div class="card-body">
          <p class="text-uppercase text-sm">Informações sobre o objetivo</p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label">Título</label>
                <p class="m-lg-1">{{ goal.title }}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label">Orçamento / Meta</label>
                <p class="m-lg-1">R$ {{ goal.value|real_currency }}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label">Criado em</label>
                <p class="m-lg-1">{{ goal.created_at|format_date }}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label">Aportes até o momento</label>
                <p class="m-lg-1">R$ {{ goal.contributions|get_amount|real_currency }}</p>
              </div>
            </div>
          </div>
          <hr class="horizontal dark">
          <p class="text-uppercase text-sm">Aportes por grupo</p>
          <div class="row">
            {% for group in groups %}
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label">{{ group }}</label>
                <p class="m-lg-1">R$ {{ groups|get_value_from_dict:group|real_currency }}</p>
              </div>
            </div>
            {% endfor %}
            <!--<div class="col-md-4">
              <div class="form-group">
                <label class="form-control-label">City</label>
                  <p class="m-lg-1">New York</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="example-text-input" class="form-control-label">Country</label>
                <input class="form-control" type="text" value="United States">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="example-text-input" class="form-control-label">Postal code</label>
                <input class="form-control" type="text" value="437300">
              </div>
            </div>-->
          </div>
          <!--<hr class="horizontal dark">
          <p class="text-uppercase text-sm">About me</p>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="example-text-input" class="form-control-label">About me</label>
                <input class="form-control" type="text" value="A beautiful Dashboard for Bootstrap 5. It is Free and Open Source.">
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
    {% include 'components/scripts.html' with load_chats=False %}
{% endblock %}