{% extends 'components/base.html' %}

{% load static %}
{% load project_tags %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Resumo</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center justify-content-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Título</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Total</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Variação</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in data %}
                    <tr>
                      <td>
                        <div class="d-flex px-2">
                          <div class="my-auto">
                            <h6 class="mb-0 text-sm">{{ item|get_value_from_dict:'title' }}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold mb-0">R$ {{ item|get_value_from_dict:'total' }}</p>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold mb-0">R$ {{ item|get_value_from_dict:'variation' }}</p>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    {% include 'components/scripts.html' with load_chats=True last_9_months=last_9_months debt_history=debt_history %}
{% endblock %}